h3  {color: indigo; }

/* forma de hacer comentarios en css igual que en javascript*/

/*
selectores:
- Selector universal -> *
- Tipo ó etiqueta -> p
- Class -> .algo
- Id -> #algo
- Pseudo-Clases -> :link, :visited, :active, :hover
- De atributo -> [href]
*/

/* SELECTOR UNIVERSAL -> * */
* { font-family: arial; }

/* SELECTOR TIPO O DE ETIQUETA */
span {color: darkgreen; }

/* SELECTOR DE TIPO CLASS */
.subrayado {text-decoration: underline; }
/*span.subrayado {text-decoration: underline; } *//*otra forma de hacerlo y solo afecta a las etiquetas que yo decida*/

/*SELECTOR ID */
#mayusculas {text-transform: uppercase; }/*también se puede hacer para que afecte a determindas etiquetas por ej: h3#mayusculas*/

/* SELECTORES PSEUDO-CLASS */
a:link { color: blueviolet; }  /*Link no visitado*/
a:visited { color: brown; } /*Link que ya se ha visitado*/
a:hover { font-weight: bold; } /*Cursor sobre el link*/
a:active { color: chartreuse; } /*Link presionado o al dar click*/

/*SELECTORES DE ATRIBUTO */
img[title]{ width: 200px; height: auto;} /*A todos los elementos del atributo específico*/
video[title]{width: 500px; height: auto;} /*A todos los elementos con un atruibuto específico y un valor específico*/

/* FONDO */
body {
    background-color: violet; /*para dar color de fondo*/
    background-image: url(/img/margarita.jpg); /* poner una imagen de fondo*/
    background-repeat: no-repeat;  /* repeat, repeat-x, repeat-y, no-repeat */
    background-position: 20% 50%;  /* Posición relativa o absoluta */
    background-attachment: fixed;  /* scroll, fixed*/
}

/* CUADRO */
#cuadro {
    width: 200px; /* Define el ancho del elemento */
    height: 200px; /* Define el alto del elemento */
    overflow: auto; /* por si hay desbordamiento del contenido usamos alguna opción: scroll, hidden, visible, auto */
    background: lime;

    border-width: 4px;
    border-style: solid;
    border-color: red;    
    /* Lo anterior también se puede hacer de la siguiente manera */
    /*border: 4px solid red;*/
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 7px ;
    /* Lo anterior también se puede hacer de la siguiente mmanera */
    /* padding: 10px 50px 10px 7px */
 
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 70px;
    margin-left: 20px;
    /* Lo anterior también se puede hacer de la siguiente mmanera */
    /*margin: 40px 0px 70px 20px;*/

}